*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
     border: none;
   
}
body{
    height: 100vw;
     
      background: radial-gradient(red,blue);
      /* background: repeating-linear-gradient(red,blue); */
}



h1{
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
}



button{
    
    background-color: rgb(7, 32, 64);
    color: rgb(0, 255, 72);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin: auto;
    height: 4rem;
    width: 50%;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
       margin-bottom: 1.5rem;

}
button:hover{
    background-color: aquamarine;
    color: black;
 
}



    .container{
    box-shadow: 0 4px 15px #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    width: 50%;
 
  
    margin: auto;
    gap: 0.5rem;
    margin-top: 5rem;
    background-color: rgb(143, 60, 226);
    padding: 1rem;
    border-radius: 15px;
     transition: all 0.4s;
}
#ans{
    background-color: aquamarine;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}
#password{
    height: 1.5rem;
    padding: 1rem;

}
.box{
    position: relative;
}

.child{
    position: absolute;
    top: 0.5rem;
    right: 10px;
    cursor: pointer;
}
#closed{
display: none;
}

    @media (max-width : 750px) {
        .login-form{
            margin: 0px;
        }
        h1{
            margin-bottom: 0px;
        };
        input{
    width: 90%;
    height: 2rem;
    padding: 0.3rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 1rem;
    margin: 0rem;
}
button{
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    height: 2rem;
    width: 50%;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}
    }